<% include ../partials/parking_boilerplate %>

<h1>parking index</h1>

<section>
  <div class="pageContent">
    <div class="parkingList">
      <ul>
        <% for (let item in parking){ %>
         <li>
          <a href="/parking/<%= parking[item].id %>">
            <p>Location: <%= parking[item].location %></p>
          </a>
         <p><b>Description:</b> <%= parking[item].description %></p>
         <p><b>Available: </b><%= parking[item].available %></p>
         <p><b>Departure: </b><%= parking[item].departtime %></p>
         <p><b>Latitude: </b><%= parking[item].latitude %></p>
         <p><b>Longitude: </b><%= parking[item].longitude %></p>

          <form method="POST" action="/parking/<%= parking[item].id %>?_method=DELETE">
              <button type="submit">Remove</button>
          </form>
          <br>
         </li>
        <% } %>
      </ul>
    </div>
  </div>

  <button class="add-button">
    <a href="/parking/add">Add Item</a>
  </button>
</section>



<% include ../partials/parking_end %>
